<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header">

  <h1 class="heading">Welcome to Book-App</h1>

  <div class="mainbutton">
    <button class="btn btn-primary material-icons" routerLink="/add-book" routerLinkActive="active">note_add</button>
    <button class="btn btn-primary fas fa-home home" routerLink="/list-book" routerLinkActive="active">Home</button>
  </div>
</div>

<router-outlet></router-outlet>