    .header{
        background-color:#405161;
        text-align:center;
        color:white;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .home{
        font-size:23px;

    } 
    .mainbutton button{
        margin-left: 10px;
    }
    
