<div class="main">
  <div *ngIf="book.length; else noData" class="subhead">
    <div class='second'>
      <h2 class="heading">Book List</h2>
    </div>
    <div *ngFor='let books of book; index as i'>
      <div class="subdiv">
        <div (click)="onSelect(books.id)" class="buttonn ">{{books.slno}}</div>
        <div (click)="onSelect(books.id)" class="buttonn ">{{books.bookName}}</div>
        <div><button (click)="toUpdate(books.id)" class='fas fa-user-edit editt buttonn'></button></div>
        <div><button (click)="deleteBook(i, books.id)" class="material-icons buttonn">delete_sweep</button></div>
      </div>
    </div>
  </div>
  <ng-template #noData class='container'>
    <h4><i class="material-icons">warning</i>There are no books to display the list, please add the books to see the
      list.</h4>
  </ng-template>
</div>